In [58]:
import pandas as pd
import numpy as np

In [59]:
df = pd.read_csv('./data/datetime_amazon_sale_report.csv')

In [60]:
delivery_indicator_dim = pd.DataFrame(columns=['SaleChannel', 'ServiceType', 'ShippingCompany'])

In [61]:
customer_dim = pd.read_csv('./data/generated_customer.csv')

In [62]:
df[df.columns[0:10]]

,order_id,date,status,fulfilment,sales_channel,ship_service_level,style,sku,category,size
0,405-8078784-5731545,30-04-2022,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,S
1,171-9198151-1101146,30-04-2022,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL
2,404-0687676-7273146,30-04-2022,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL
3,403-9615377-8133951,30-04-2022,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,L
4,407-1069790-7240320,30-04-2022,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL
...,...,...,...,...,...,...,...,...,...,...
121264,406-6001380-7673107,31-05-2022,Shipped,Amazon,Amazon.in,Expedited,JNE3697,JNE3697-KR-XL,kurta,XL
121265,402-9551604-7544318,31-05-2022,Shipped,Amazon,Amazon.in,Expedited,SET401,SET401-KR-NP-M,Set,M
121266,407-9547469-3152358,31-05-2022,Shipped,Amazon,Amazon.in,Expedited,J0157,J0157-DR-XXL,Western Dress,XXL
121267,402-6184140-0545956,31-05-2022,Shipped,Amazon,Amazon.in,Expedited,J0012,J0012-SKD-XS,Set,XS
121268,408-7436540-8728312,31-05-2022,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-S,Set,S

In [63]:
df[df.columns[10::]]

,asin,courier_status,qty,currency,amount,ship_city,ship_state,ship_postal_code,ship_country,promotion_ids,b2b,fulfilled_by,ordered_by
0,B09KXVBD7Z,NaN,0,USD,7.77144,West Deniseland,Minnesota,26450,USA,NaN,False,Easy Ship,45413
1,B09K3WFS32,Shipped,1,USD,4.87200,New Cesarborough,Nebraska,96610,USA,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,8274
2,B07WV4JV4D,Shipped,1,USD,3.94800,Matthewtown,Arkansas,3375,USA,IN Core Free Shipping 2015/04/08 23-48-5-108,True,Amazon,36718
3,B099NRCT7B,NaN,0,USD,9.03996,Bentonstad,North Carolina,78970,USA,NaN,False,Easy Ship,43402
4,B098714BZP,Shipped,1,USD,6.88800,West Kimberly,Florida,24216,USA,NaN,False,Amazon,59080
...,...,...,...,...,...,...,...,...,...,...,...,...,...
121264,B098112V2V,Shipped,1,USD,6.20400,Port Jefferytown,Pennsylvania,78772,USA,NaN,False,Amazon,11302
121265,B09VC6KHX8,Shipped,1,USD,11.98800,Port Dawn,Oklahoma,17248,USA,IN Core Free Shipping 2015/04/08 23-48-5-108,False,Amazon,3141
121266,B0982YZ51B,Shipped,1,USD,8.28000,North Markburgh,North Dakota,2976,USA,NaN,False,Amazon,871
121267,B0894Y2NJQ,Shipped,1,USD,14.38800,New Holly,New Jersey,72158,USA,IN Core Free Shipping 2015/04/08 23-48-5-108,False,Amazon,1873
121268,B0894X27FC,Shipped,1,USD,8.35200,New Shelby,Colorado,87580,USA,IN Core Free Shipping 2015/04/08 23-48-5-108,False,Amazon,30887

In [64]:
df['sales_channel'].unique()

array(['Amazon.in', 'Non-Amazon'], dtype=object)

In [65]:
customer_dim['account_type'].unique()

array(['regular', 'prime'], dtype=object)

In [66]:
df['fulfilled_by'].unique()

array(['Easy Ship', 'Amazon'], dtype=object)

In [67]:
delivery_indicator_dim

Empty DataFrame
Columns: [SaleChannel, ServiceType, ShippingCompany]
Index: []

In [68]:
for channel in df['sales_channel'].unique():
    for acc_type in customer_dim['account_type'].unique():
        for fulfilled in df['fulfilled_by'].unique():
            delivery_indicator_dim = delivery_indicator_dim.append({'SaleChannel': channel, 'ServiceType': acc_type, 'ShippingCompany': fulfilled}, ignore_index=True)

/var/folders/pf/z8gx8qw104xby0jdggl6xdnc0000gn/T/ipykernel_6366/4111288359.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  delivery_indicator_dim = delivery_indicator_dim.append({'SaleChannel': channel, 'ServiceType': acc_type, 'ShippingCompany': fulfilled}, ignore_index=True)
/var/folders/pf/z8gx8qw104xby0jdggl6xdnc0000gn/T/ipykernel_6366/4111288359.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  delivery_indicator_dim = delivery_indicator_dim.append({'SaleChannel': channel, 'ServiceType': acc_type, 'ShippingCompany': fulfilled}, ignore_index=True)
/var/folders/pf/z8gx8qw104xby0jdggl6xdnc0000gn/T/ipykernel_6366/4111288359.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  delivery_indicator_dim = delivery_indicator_dim.append({'SaleChannel': channel, 'ServiceType': acc_type, 'ShippingCompany': fulfilled}, ignore_index=True)
/var/folders/pf/z8gx8qw104xby0jdggl6xdnc0000gn/T/ipykernel_6366/4111288359.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  delivery_indicator_dim = delivery_indicator_dim.append({'SaleChannel': channel, 'ServiceType': acc_type, 'ShippingCompany': fulfilled}, ignore_index=True)
/var/folders/pf/z8gx8qw104xby0jdggl6xdnc0000gn/T/ipykernel_6366/4111288359.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  delivery_indicator_dim = delivery_indicator_dim.append({'SaleChannel': channel, 'ServiceType': acc_type, 'ShippingCompany': fulfilled}, ignore_index=True)
/var/folders/pf/z8gx8qw104xby0jdggl6xdnc0000gn/T/ipykernel_6366/4111288359.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  delivery_indicator_dim = delivery_indicator_dim.append({'SaleChannel': channel, 'ServiceType': acc_type, 'ShippingCompany': fulfilled}, ignore_index=True)
/var/folders/pf/z8gx8qw104xby0jdggl6xdnc0000gn/T/ipykernel_6366/4111288359.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  delivery_indicator_dim = delivery_indicator_dim.append({'SaleChannel': channel, 'ServiceType': acc_type, 'ShippingCompany': fulfilled}, ignore_index=True)
/var/folders/pf/z8gx8qw104xby0jdggl6xdnc0000gn/T/ipykernel_6366/4111288359.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  delivery_indicator_dim = delivery_indicator_dim.append({'SaleChannel': channel, 'ServiceType': acc_type, 'ShippingCompany': fulfilled}, ignore_index=True)

In [69]:
delivery_indicator_dim

  SaleChannel ServiceType ShippingCompany
0   Amazon.in     regular       Easy Ship
1   Amazon.in     regular          Amazon
2   Amazon.in       prime       Easy Ship
3   Amazon.in       prime          Amazon
4  Non-Amazon     regular       Easy Ship
5  Non-Amazon     regular          Amazon
6  Non-Amazon       prime       Easy Ship
7  Non-Amazon       prime          Amazon

In [70]:
delivery_indicator_dim.to_csv('./dimensions/delivery_indicator_dim_file.csv', index=False)