In [6]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [7]:
customer_df = pd.read_csv('data/generated_customer.csv')

In [8]:
customer_df

,cid,name,lastname,email,phone,gender,birthdate,city,state,postal_code,account_type,interested_topic
0,1,Richard,Walker,johnsonsharon@example.net,511.680.9703x7845,M,2001-04-07,Port Kristenstad,Michigan,82958,regular,health
1,2,Stephanie,Wilson,kberg@example.com,(872)149-2933,F,1923-11-22,Cindyview,Maryland,54400,regular,tech
2,3,Kenneth,Henry,nicoleroy@example.org,556-027-4270x74154,M,1933-09-20,South Davidton,California,85439,regular,tech
3,4,Zachary,Harper,barbara14@example.net,(520)353-1943x475,M,2009-01-29,Clineberg,Massachusetts,46131,prime,gardening
4,5,Sean,Padilla,andrewgeorge@example.com,+1-213-283-0185x4782,M,1931-06-18,North Josephburgh,Nevada,63360,regular,decoration
...,...,...,...,...,...,...,...,...,...,...,...,...
60628,60629,April,Mack,drivera@example.net,(214)942-2195,F,2017-09-30,Fernandeztown,South Dakota,62073,prime,pets
60629,60630,Natasha,Jones,warren88@example.com,(879)998-5511x0266,F,1983-02-28,New Thomasville,Ohio,82499,prime,parenting
60630,60631,Stephen,Clark,brendamarsh@example.com,953-426-2345x1091,M,1910-11-13,New Meghanmouth,Kansas,16026,prime,decoration
60631,60632,Denise,Fernandez,john84@example.net,0995484221,F,1957-04-03,Cartertown,Michigan,22732,prime,investment
60632,60633,Joseph,Weeks,umann@example.net,727.050.8829,M,1937-10-13,Morganland,Illinois,49439,prime,gadgets

In [9]:
customer_demographic_dim = pd.DataFrame(columns=['InterestedTopic', 'AccountType'])
customer_demographic_dim

Empty DataFrame
Columns: [InterestedTopic, AccountType]
Index: []

In [10]:
for i in customer_df['account_type'].unique():
    for j in customer_df['interested_topic'].unique():
        customer_demographic_dim = customer_demographic_dim.append({'InterestedTopic': j, 'AccountType': i}, ignore_index=True)

In [11]:
customer_demographic_dim

    InterestedTopic AccountType
0            health     regular
1              tech     regular
2         gardening     regular
3        decoration     regular
4   datawarehousing     regular
5        investment     regular
6              home     regular
7           cartoon     regular
8              pets     regular
9           gadgets     regular
10          kitchen     regular
11        parenting     regular
12            music     regular
13           health       prime
14             tech       prime
15        gardening       prime
16       decoration       prime
17  datawarehousing       prime
18       investment       prime
19             home       prime
20          cartoon       prime
21             pets       prime
22          gadgets       prime
23          kitchen       prime
24        parenting       prime
25            music       prime

In [13]:
customer_demographic_dim.to_csv('dimensions/generated_customer_demographic.csv', index=False)